@import "tailwindcss";
@tailwind utilities;
/* @import "tw-animate-css"; */

.three-wrapper {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  isolation: isolate;
}

.three-wrapper * {
  box-sizing: content-box;
  color: initial;
  font-family: initial;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  @layer utilities {
  .invictus-heading {
    font-family: 'Orbitron', sans-serif;
    font-weight: 1000;
    background: linear-gradient(to bottom, #E2AA38, #473C24);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0.9;
    filter: brightness(1.05) saturate(1.15);
    filter: drop-shadow(8px 8px 2px rgba(0,0,0,0.25));
    -webkit-text-stroke: 1px rgba(255, 217, 138, 1);
    line-height: 1.1;
    display: block;
  }

    .invictus-subheading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: linear-gradient(to bottom, #837446, #6E5B1D);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 1;
    filter: brightness(1.05) saturate(1.15);
    margin-top: 0.5rem;
  }
}

}
html, body {
  height:fit-content;
  margin: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/backdrop.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner {
  border: 8px solid var(--foreground);
  border-top: 8px solid transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
} 
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Firefox */
/* * {
  scrollbar-width: thin;

  scrollbar-color: rgba(180, 180, 180, 0.6) transparent;
} */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(69, 69, 69, 0.9),
    rgba(0, 0, 0, 0.9)
  );
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      rgba(247, 169, 106, 0.726),
      rgb(0, 0, 0)
    );
  }
}

body.cursor-hidden {
  cursor: none;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-120%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideInFromLeft 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

