@import "tailwindcss";
@tailwind utilities;
@import "tw-animate-css";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  @layer utilities {
  .invictus-heading {
    font-family: 'Orbitron', sans-serif;
    font-weight: 1000;
    background: linear-gradient(to bottom, #E2AA38, #473C24);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0.9;
    filter: brightness(1.05) saturate(1.15);
    filter: drop-shadow(8px 8px 2px rgba(0,0,0,0.25));
    -webkit-text-stroke: 1px rgba(255, 217, 138, 1);
    line-height: 1.1;
    display: block;
  }

    .invictus-subheading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: linear-gradient(to bottom, #837446, #6E5B1D);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 1;
    filter: brightness(1.05) saturate(1.15);
    margin-top: 0.5rem;
  }
}

}
html, body {
  height:fit-content;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/backdrop.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


@keyframes slideUp {
  0% {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 10px);
    opacity: 0.5;
  }
  100%{
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.2s ease-out;
}
