@import "tailwindcss";
@tailwind utilities;
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  @layer utilities {
  .invictus-heading {
    font-family: 'Orbitron', sans-serif;
    font-weight: 1000;
    background: linear-gradient(to bottom, #E2AA38, #473C24);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0.9;
    filter: brightness(1.05) saturate(1.15);
    filter: drop-shadow(8px 8px 2px rgba(0,0,0,0.25));
    -webkit-text-stroke: 1px rgba(255, 217, 138, 1);
    line-height: 1.1;
    display: block;
  }

    .invictus-subheading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: linear-gradient(to bottom, #D4AF37, #6E5B1D);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 1;
    filter: brightness(1.05) saturate(1.15);
    margin-top: 0.5rem;
  }
}

}
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/backdrop.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


